
```
API_URL:
NODE_ENV=production
PORT=3000
DB_USER=gabriel_tis
#DB_PASSWORD=theGrandPiano.
#DB_USER=postgres
DB_PASSWORD=bolivia2030$tis67
LOCAL_DB_URL=postgres://gabriel_tis:theGrandPiano.@localhost:5432/db_gabriel_tis
DB_URL=postgresql://postgres:bolivia2030$tis67@db.slugyhrotsmwjwhfyypf.supabase.co:5432/postgres
JWT_SECRET=backendDevelopment-sixSeven-67
JWT_EXPIRES_IN=1d
```
